.container {
    width: 100%;
}

.card-text {
    color: rgb(149, 16, 154);
}

.cardHarvey {
    height: 100% !important;
    object-fit: cover;
}

.iconBox {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.about-us {
    width: 800px;
    height: 250px;
}

.imgBox {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.img {
    width: 240px;
    height: 240px;
    border: rgb(200, 195, 195) solid 8px;
    border-radius: 50%;
}

.imgmap {
    height: 700px;
}

.brand {
    width: 150px;
}

.contact {
    background: url(./img/map.jpeg) no-repeat center center;
    padding-top: 20%;
    padding-bottom: 20%;
    background-size: cover;
    color: antiquewhite;
}